
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


* {
    padding: 0;
    margin: 0;    
}

/* First section styling */
.page {
    background-color:rgb(14, 186, 238);
    height: 100vh;
    padding-top: 1px;
}
/* Title of game which is on all sections */

.heading {
    display: flex;
    
    justify-content: center;
    margin-top: 50px;
    font-family:  "SUSE", sans-serif;
    color: hsl(208, 100%, 18%);
    font-size: 30px;   

} 

h2 {
    display: flex;
    justify-content: center;
    font-family: "SUSE", sans-serif; 
    color: hsl(208, 100%, 18%);
    font-size: 20px;   
}

.welcome-screen {
    display: grid;
    margin-top: 50px; 
   
}

.game-type {
    font-family:  "SUSE", sans-serif;
    color: hsl(208, 100%, 18%);
    margin-top: 30px;
    margin-bottom: 30px;
    justify-self: center;
    font-size: 20px;
    border: 5px dotted yellow ; 
}

.game-choice {
    margin-left: 5px;
}

#question {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.buttons {
    padding-left: 30px;
    padding-bottom: 10px;
}

.hide {
    display: none !important;
}


.game-board {
    margin: 30px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.box {
    border: 2px solid rgb(14, 186, 238);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: rgb(206, 206, 218);
}

.players {
    color:hsl(208, 100%, 18%);
    font-size: 25px;
    text-align: center;
   

}

.playerO {
    color: rgb(236, 240, 12);
    
}

.playerX {
    color: darkblue;
   
}

.score-tally{
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
}

#pO.playerO{
    padding-right: 5px;
    padding-left: 3px;
}
#pX.playerX{
    padding-right: 5px;
    padding-left: 3px;
}

.yellowO{
    color:rgb(236, 240, 12);
    padding-right: 3px;
    padding-left: 3px;
    font-size: 25px;
}

.blueX{
    color:darkblue;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 25px;
}

#scoreO, #scoreX {
    padding-left: 3px;
}

.call.report{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
   

    /*margin-left: 100px;
    margin-top: 10px;*/
}

.button, .playbutton{
    display: flex;   
    justify-content: center;   
    margin-top: 30px;
}
#replay, #play{
    background-color: hsl(208, 100%, 18%);
    color: rgb(14, 186, 238);
    padding: 10px;    
    font-size: 20px;   
    cursor: pointer;
    border: none;
}



